#part1 {
    font-family: serif;
    color:rgb(36, 160, 42);
}
img {
    width: 200px;
    border: 3px solid yallow;
    margin: 20px; 
}

h1{
    text-align: center;
    color: rgb(13, 209, 88);
    margin-top: 100px;
    font-family: serif;
    padding: 10px 50px 10px 20px;
}
P{
    color: rgb(139, 7, 62);
    text-decoration: none;
    margin: 100px 20px 50px 20px;
    font-family: cursive;
    display: inline-block;
    border: 2px solid #a75b67;
  }  
  nav ul li a{
    text-decoration: none;
    background-color: bisque; 
    font-family: courier;
    color: blue; 
  }

  nav ul li{
  
    padding: 10px;
    margin: 10px;
    color: rgb(62, 20, 99);
  }
  nav ol li{
    color: #ea00ff;
  }
  #part3{
    border:2px solid rgb(136, 168, 194) ;
  }